<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>DiSCo</h1>
<form action="{{ url_for('save') }}" method="POST">
    <div id="questionEntry">
        <ul>
            <li><input name="primarySubject" list="primarySubjects" placeholder="Category..."></li>
                <datalist id="primarySubjects">
                    <option value="Simple proof techniques">
                    <option value="Discrete structures">
                    <option value="Functions">
                    <option value="Function properties">
                    <option value="Ciphers">
                    <option value="Discrete structures">
                    <option value="Countability">
                    <option value="Inductively defined sets">
                    <option value="Recursion">
                    <option value="Grammars">
                    <option value="Binary relations">
                    <option value="Equivalence">
                    <option value="Ordering">
                    <option value="Mathematical induction">
                    <option value="Decision trees, Analysis">
                    <option value="Summations and close forms">
                    <option value="Permutations and combinations">
                    <option value="Discrete probability">
                    <option value="Recurrence relations">
                    <option value="Cancellation and substitution">
                    <option value="Analysis of algorithms">
                    <option value="Rates of growth">
                </datalist>
            <li><input name="secondarySubject" type="text" placeholder="Sub-category..."></input></li>
            <li><input name="family" type="text" placeholder="Family..."></input></li>
            <li>Difficulty:<select name="difficulty">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select></li>
            <li><textarea name="question" placeholder="Question text..."></textarea></li>
            <li>Correct response:<select name="correctResponseIndex">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select></li>
            <li><input name="response0" type="text" placeholder="Response 0"></input></li>
            <li><input name="response1" type="text" placeholder="Response 1"></input></li>
            <li><input name="response2" type="text" placeholder="Response 2"></input></li>
            <li><input name="response3" type="text" placeholder="Response 3"></input></li>
        </ul>
        <input type="submit" value="Submit">
    </div>

</form>
</body>
</html>
